VITE_SUPABASE_URL=https://lwowtuspbrnbaukakyss.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3b3d0dXNwYnJuYmF1a2FreXNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNzczMDQsImV4cCI6MjEwMzc1MzMwNH0.io23Dsoyds1B43lmCeYtQAnESGPyjH4IOvlxaGvMlK0
